﻿@{
    ViewBag.Title = "";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Message</h1>
            </hgroup>            
        </div>
    </section>
}

<script type="text/javascript">
    $.ajaxSetup({ cache: false });

    $(document).ready(function () {
        $(".openDialog").live("click", function (e) {
            e.preventDefault();

            $("<div></div>")
                .addClass("dialog")
                .attr("id", $(this).attr("data-dialog-id"))
                .appendTo("body")
                .dialog({
                    title: $(this).attr("data-dialog-title"),
                    close: function () { $(this).remove() },
                    modal: true
                })
                .load(this.href);
        });

        $(".close").live("click", function (e) {
            e.preventDefault();
            $(this).closest(".dialog").dialog("close");
        });
    });
</script>

<ol class="round">
    <li class="one">
        <h5>Get Active, Get Motivated, Get Running</h5>
        Bruce Lee once said that running was the king of exercise.  The benefits of the
        workout was evident in his explosive speed, amazing agility and his martial art
        prowess.  That is not all.  Every military branch uses running as one of the factors
        to gauge the servicemember's physical fitness.  So if your goal is to dive deep into
        the sea with the famous Navy SEALs or roll around the desert in an almighty M1A2 Abrams tank,
        the first thing to prepare for it is be the best runner you can be.
        <a href="http://ririanproject.com/2007/10/22/10-benefits-of-running-and-how-to-do-it/">Find out more about benefits of running…</a>
    </li>

    <li class="two">
        <h5>Be The Best You Can Be, One Workout At A Time</h5>
        Whether it's Great Wall of China, or three pyramids in King's Valley Egypt, they all
        started taking shape one brick at a time.  So start building your running pyramid with
        an everyday running workout.
        <a href="http://www.runnersworld.com/beginners/8-week-beginners-program?page=single">Learn more…</a>
    </li>

    <li class="three">
        <h5>Use The Diary to Keep Your Eyes On The Prize</h5>
        This App is made to help you keep track of your daily running goal.  It allows you to
        put in your exercise goal before your daily workout, and write down your distance after
        your running workout.
        <a>@Html.ActionLink("Write Your Running Diary", "Index", "Diary")</a>
    </li>
</ol>

@Html.ActionLink("Contact Us", "ContactUs", "Home", null, new{ @class = "openDialog", data_dialog_id = "emailDialog", data_dialog_title = "Contact Us"})
