﻿@model RunnerDiary.Models.DailyEntry

@{
    ViewBag.Title = "New Entry";
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>DailyEntry</legend>

        <div class="editor-label">
            <b>Date</b>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date)
            @Html.ValidationMessageFor(model => model.Date)
        </div>

        <div class="editor-label">
            <b>Target</b>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Target)
            @Html.ValidationMessageFor(model => model.Target)
            <small>Example: 3 miles in 18 min</small>
        </div>

        <div class="editor-label">
            <b>My Run</b>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.My_Run)
            @Html.ValidationMessageFor(model => model.My_Run)
        </div>

        <div class="editor-label">
            <b>Weather</b>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Weather)
            @Html.ValidationMessageFor(model => model.Weather)
            <small>Example: Sunny, 20C</small>
        </div>

        <div class="editor-label">
            <b>Interesting Things</b>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Note)
            @Html.ValidationMessageFor(model => model.Note)
            <small>Something to remember</small>
        </div>

        <p>
            <input type="submit" value="Complete" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
