﻿@model RunnerDiary.Models.DailyEntry

@{
    ViewBag.Title = "Delete";
}

<h3>Delete</h3>

<h4>Are you sure you want to delete this?</h4>

<fieldset>
    <legend>DailyEntry</legend>

    <div class="display-label">
         <b>Date</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>

    <div class="display-label">
         <b>Target</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Target)
    </div>

    <div class="display-label">
         <b>My Run</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.My_Run)
    </div>

    <div class="display-label">
         <b>Weather</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Weather)
    </div>

    <div class="display-label">
         <b>Interesting Things</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Note)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
