﻿@model RunnerDiary.Models.DailyEntry

@{
    ViewBag.Title = "Details";
}

<fieldset>
    <legend>DailyEntry</legend>

    <div class="display-label">
         <b>Date</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>

    <div class="display-label">
         <b>Target</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Target)

    </div>

    <div class="display-label">
         <b>My Run</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.My_Run)

    </div>

    <div class="display-label">
         <b>Weather</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Weather)

    </div>

    <div class="display-label">
         <b>Interesting Things</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Note)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
