﻿@model RunnerDiary.Models.DailyEntry

@{
    ViewBag.Title = "Edit";
}

<h4>Edit</h4>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>DailyEntry</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            <b>Date</b>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date)
            @Html.ValidationMessageFor(model => model.Date)
        </div>

        <div class="editor-label">
            <b>Target</b>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Target)
            @Html.ValidationMessageFor(model => model.Target)
        </div>

        <div class="editor-label">
            <b>My Run</b>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.My_Run)
            @Html.ValidationMessageFor(model => model.My_Run)
        </div>

        <div class="editor-label">
            <b>Weather</b>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Weather)
            @Html.ValidationMessageFor(model => model.Weather)
        </div>

        <div class="editor-label">
            <b>Interesting Things</b>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Note)
            @Html.ValidationMessageFor(model => model.Note)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
