﻿@model IEnumerable<RunnerDiary.Models.DailyEntry>

@{
    ViewBag.Title = "Index";
}

<h4>Diary Entry</h4>

<p>
    @Html.ActionLink("New Entry", "Create")
    @Html.ActionLink("Search Entry", "SearchFunc")
</p>
<table>
    <tr>
        <th>
            <b>Date</b>
        </th>
        
        <th>
            <b>Target</b>
        </th>
        
        <th>
            <b>My Run</b>
        </th>
        
        <th>
            <b>Weather</b>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Target)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.My_Run)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weather)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
