﻿@model IEnumerable<RunnerDiary.Models.DailyEntry>

@{
    ViewBag.Title = "Search";
}

<h3>Search your running history</h3>

<p>
    @using (Html.BeginForm()){
        <p> My Run: @Html.TextBox("SearchString")
            <input type="submit" value="find" />
        </p>
    }
</p>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Target)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.My_Run)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weather)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Target)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.My_Run)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weather)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
