﻿@model RunnerDiary.Models.ContactUsInput

<fieldset>

    <div class="editor-label">
        @Html.LabelFor( model => model.Name )
    </div>
    <div class="editor-field">
        @Html.EditorFor( model => model.Name )
        @Html.ValidationMessageFor( model => model.Name )
    </div>

    <div class="editor-label">
        @Html.LabelFor( model => model.Email )
    </div>
    <div class="editor-field">
        @Html.EditorFor( model => model.Email )
        @Html.ValidationMessageFor( model => model.Email )
    </div>

    <div class="editor-label">
        @Html.LabelFor( model => model.Message )
    </div>
    <div class="editor-field">
        @Html.EditorFor( model => model.Message )
        @Html.ValidationMessageFor( model  => model.Message )
    </div>
</fieldset>